root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4

[*.gradle]
indent_style = tab

[*.java]
indent_style = tab
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_before_imports = 1
ij_java_use_single_class_imports = true
ij_java_layout_static_imports_separately = true
ij_java_imports_layout = *,$*,|,com.llamalad7.mixinextras.**,org.spongepowered.**,|,com.mojang.**,net.minecraft.**,|,net.fabricmc.**,|,net.neoforged.**,|,com.macuguita.**
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

[*{.kt,.kts}]
indent_style = tab
ij_continuation_indent_size = 8
ij_kotlin_imports_layout = *,$*,|,com.mojang.**,^com.mojang.**,net.minecraft.**,^net.minecraft.**,|,net.fabricmc.**,^net.fabricmc.**,|,net.neoforged.**,^net.neoforged.**,|,com.macuguita.**,^com.macuguita.**
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_allow_trailing_comma = true

[*.bat]
end_of_line = crlf

[*.{json,mcmeta}]
indent_size = 2

[*.properties]
indent_size = 2
